<h1>Hotels</h1>

<div class="form-group">
    <label for="filterCityName">Filter by City:</label>
    <input type="text" class="small-input" id="filterCityName" placeholder="Enter city name">
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>City</th>
            <th></th> <!-- Add a column for the garbage icon -->
            <th></th> <!-- Add a column for the edit icon -->
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Address</td>
                <td>@hotel.City</td>
                <td>
                    <form action="/Hotels/Delete" method="post">
                        <input type="hidden" name="id" value="@hotel.Id" />
                        <button type="submit" class="delete-hotel" onclick="return confirm('Are you sure you want to delete this hotel?')">
                            <i class="fa fa-trash"></i> <!-- Add the garbage icon here -->
                        </button>
                    </form>
                    <form action="/Hotels/Edit/@hotel.Id" method="get">
                        <button type="submit" class="edit-hotel">
                            <i class="fa fa-edit"></i> <!-- Add the edit icon here -->
                        </button>
                    </form>
                </td>
                <td>
                    <a href="/Hotels/Edit/@hotel.Id">
                        <i class="fa fa-edit"></i> <!-- Add the edit icon here -->
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filterCityName').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('tbody tr').hide();
            $('tbody tr').each(function () {
                var cityName = $(this).find('td:nth-child(3)').text().toLowerCase();
                if (cityName.includes(filterValue)) {
                    $(this).show();
                }
            });
        });
    });
</script>