<body dir="rtl">

<h1>الفنادق</h1>

<div class="form-group">
    <label for="filterCityName">بحث عن طريق المدينة:</label>
    <input type="text" class="small-input" id="filterCityName" placeholder="Enter city name">
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>City</th>
            <th></th> <!-- Add a column for the garbage icon -->
            <th></th> <!-- Add a column for the edit icon -->
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.Name</td>
                <td>@hotel.Address</td>
                <td>@hotel.City</td>
                <td>
                    <form action="/Hotels/Delete" method="post">
                        <input type="hidden" name="id" value="@hotel.Id" />
                        <button type="submit" class="delete-hotel" onclick="return confirm('Are you sure you want to delete this hotel?')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
                                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z" />
                                </svg>
                        </button>
                    </form>
                    <br>
                    <form action="/Hotels/Edit/@hotel.Id" method="get">
                        <button type="submit" class="edit-hotel">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                        </button>
                    </form>
                </td>
                <td>
                        <form  action="/Rooms/@hotel.Id" method="get">
                            <button type="submit" class="edit-rooms">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </button>
                        </form>
                 
                </td>
           
            </tr>
        }
    </tbody>
</table>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#filterCityName').on('input', function () {
            var filterValue = $(this).val().toLowerCase();
            $('tbody tr').hide();
            $('tbody tr').each(function () {
                var cityName = $(this).find('td:nth-child(3)').text().toLowerCase();
                if (cityName.includes(filterValue)) {
                    $(this).show();
                }
            });
        });
    });
</script>